.main{
    width: 100%;
    border: 2px solid #000;
     display:flex;
  }
  .left{
     width: 25%;
     border: 2px solid #c45e45;
     margin:5px 3px 1px 10px;
     padding:5px;
     background-color:#999;
   }
   .left img{
     width:200px;
     border-radius:45%;
     border:3px solid orange;
     box-shadow: 3px 2px 10px #000;
   }

   .right{
     width: 70%;
     border: 2px solid #000;
     margin:3px;
     padding:5px;
     background-color:#666;
   }
   #name{
      color: #000;
    }
     h1{
        color:#fff;
      }
      h2.hover{
        color:#fff;
      }
      h2
    {
      color: #ff0;
      }
      @media only screen and (max.width:480px)
      {
        .main{
        border:6px solid orange;
        flex-direction:column;
        flex-wrap:wrap;
      }
      .left{
        width:25%;
        border:5px solid #000;
        margin:10px 5px 4px 1px;
        padding:10px;
        background-color:#666;
        text-align: center;
      }
      .right{
        width: 75%;
        border: 5px solid #blue;
        margin:3px 5px 1px 10px
        padding:10px;
        background-color:#999;
      }

}



main{
    width: 100%;
    border: 2px solid #000;
     display:flex;
  }
  .left{
     width: 25%;
     border: 2px solid #c45e45;
     margin:5px 3px 1px 10px;
     padding:5px;
     background-color:#999;
   }
   .left img{
     width:200px;
     border-radius:45%;
     border:3px solid orange;
     box-shadow: 3px 2px 10px #000;
   }

   .right{
     width: 70%;
     border: 2px solid #000;
     margin:3px;
     padding:5px;
     background-color:#666;
   }
   #name{
      color: #000;
    }
     h1{
        color:#fff;
      }
      h2.hover{
        color:#fff;
      }
      h2
    {
      color: #ff0;
      }
      @media only screen and (max.width:480px)
      {
        .main{
        border:6px solid orange;
        flex-direction:column;
        flex-wrap:wrap;
      }
      .left{
        width:25%;
        border:5px solid #000;
        margin:10px 5px 4px 1px;
        padding:10px;
        background-color:#666;
        text-align: center;
      }
      .right{
        width: 75%;
        border: 5px solid #blue;
        margin:3px 5px 1px 10px
        padding:10px;
        background-color:#999;
      }

}
